.navbar-header {
  font-family: 'Pacifico', cursive;
  font-size: 90px;
  font-stretch: expanded;
  color: #333333;
  padding-left: 370px;
  padding-top: 5px;
}



hr{
  width: 100%;
  height : 4px;
  color: darkgray;
}

.logo-image{
    overflow: hidden;
    margin-top: 6px;
}
}

.navbar-light {
  padding: 15px;
  border: 7px solid darkgray;
}

.navbar-right{
  font-size: 20px;
  padding: 30px;
}


div.gallery {
  margin-left: 140px;
  border: 1px solid #ccc;
  float: left;
  width: 319px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-bottom: 60px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 315px;
  height: 220px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.info{
  font-family: 'Pacifico', cursive;
  height: 280px;
  background-color: #b4b8b5;
  text-align: center;
  font-size: 20px;
}
